<nav id="navbar" class="navbar">
    <div class="container">
        <a href="{{ site.baseurl }}/" class="site-logo">
            <img src="{{ site.baseurl }}/assets/favicon.png" alt="Logo">
        </a>
        <ul>
            <li><a href="{{ site.baseurl }}/education/">Education</a></li>
            <li><a href="{{ site.baseurl }}/experience/">Experience</a></li>
            <li><a href="{{ site.baseurl }}/projects/">Projects</a></li>
            <li><a href="{{ site.baseurl }}/resume/">Resume</a></li>
            <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
        </ul>
    </div>
</nav>
