<!DOCTYPE html>
<html lang="en">
    <div class="page-content">
    {% include head.html %}
    <script src="{{ site.baseurl }}/assets/js/navbar.js" defer></script>
    <body class="{% if page.custom-style %}{{ page.custom-style }}{% endif %}{% if page.navbar-style == 'solid' %}navbar-solid{% endif %}">
        {% include nav.html %} <!-- Navigation Bar -->
        <main class="content">
            {{ content }} <!-- Page Content (CV in this case) -->
        </main>
        {% include footer.html %} <!-- Footer -->
    </body>
    </div>
</html>
